@model CIMOB_IPS.Models.Signature

<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />

<form asp-controller="Application" asp-action="Export" method="post">

    @Html.EditorFor(model => model.MySignature)
    <input type="submit" value="Download" />
</form>


