@model PaginatedList<CIMOB_IPS.Models.Application>
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />


@{
    ViewData["Title"] = "Candidaturas Aprovadas";
}

<h2 class="page-title">Candidaturas Aprovadas</h2>
