
<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/monthly.css")' />
<p class="page-title">Calendarização das Entrevistas</p>


<div style="margin-left:2.5%;padding:1%;">
    <div class="monthly" id="interviews" style="width:75%;margin-top:3%;margin-left:12.5%;margin-bottom:5.5%;font-size:1.1vmax;color:var(--main-color);font-weight:bold;">


    </div>
</div>