@model IEnumerable<CIMOB_IPS.Models.TestFile>

@{
    ViewData["Title"] = "ShowFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowFiles</h2>

@foreach (var item in Model)
{
    <a asp-action="OpenFile" asp-route-fileId=@item.IdFile>Ficheiro @item.IdFile</a>
}