@{
    string strController = (string)ViewData["Controller"];
    string strAction = (string)ViewData["Action"];

    string strHtml = HelpController.GetHelpInformation(strController, strAction);
}
<div style="padding:3%;">
    @Html.Raw(strHtml)
</div>