@model CIMOB_IPS.Models.ProfileViewModel
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />


<form asp-action="UpdateProfileStudent" method="post" class="user-form" enctype="multipart/form-data">
    <table>
        @Html.HiddenFor(model => Model.Student.IdAccount)
        @Html.HiddenFor(model => Model.Student.Name)
        <tr>
            <td>
                <img id="edit-image-preview" src="@Model.Student.IdAccountNavigation.AvatarUrl" class="profile-image" style="width:9.5vw; height:9.5vw;margin-left:28%;" draggable="false" />
            </td>
        </tr>

        <tr>
            <td>
                <input type="file" name="avatar" title="Alterar foto de perfil" accept="image/png"  value="Alterar foto de perfil" style="font-size:1.1vw;margin-bottom:5%;" onchange="preview_image(event)">
            </td>
        </tr>

        <tr> <td><label asp-for="Student.Telephone"></label></td></tr>
        <tr>
            <td>
                <input asp-for="Student.Telephone" type="text" />
            </td>
        </tr>
        <tr> <td><span asp-validation-for="Student.Telephone" class="error-message"></span></td></tr>

        <tr>
            <td>
                <label>Código Postal</label>
                <img class="open-help" src="~/images/icons/002-question-mark.png" id="open-help-postal" onclick="javascript: toggleHelpPostal();" draggable="false" />
                <div class="help-postal">
                    Insira o código postal e os restantes campos serão automaticamente preenchidos.
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="on-focus clearfix">
                    <input asp-for="PostalCode1" id="input-code1" type="text" style="width:4vw;" onfocusout="javascript:adressCode()" onkeydown="javascript: closeHelpPostal();" />&nbsp;<label>-</label>
                    &nbsp;
                    <input asp-for="PostalCode2" id="input-code2" onfocusout="javascript:adressCode()" type="text" style="width:4vw;" onkeydown="javascript: closeHelpPostal();" />
                </div>
            </td>
        </tr>
        <tr><td><span asp-validation-for="PostalCode1" class="error-message"></span></td></tr>
        <tr><td><span asp-validation-for="PostalCode2" class="error-message"></span></td></tr>

        <tr>
            <td>
                <label>Distrito</label>
                <input id="district" type="text" style="width:8vw;" readonly class="disabled-input" />

                <label>Concelho</label>
                <input id="county" type="text" style="width:8vw;" readonly class="disabled-input" />
            </td>
        </tr>
        <tr></tr>

        <tr> <td><label>Freguesia</label></tr>
        <tr><td><input id="parish" type="text" style="width:100%;" readonly class="disabled-input" /></td></tr>

        <tr> <td><label asp-for="Student.IdAddressNavigation.AddressDesc"></label></td></tr>
        <tr><td><input id="street" asp-for="Student.IdAddressNavigation.AddressDesc" type="text" /></td></tr>
        <tr><td><span asp-validation-for="Student.IdAddressNavigation.AddressDesc" class="error-message"></span></td></tr>

        <tr> <td><label asp-for="Student.IdAddressNavigation.DoorNumber"></label></td></tr>
        <tr><td><input asp-for="Student.IdAddressNavigation.DoorNumber" type="text" /></td></tr>

        <tr> <td><label asp-for="Student.IdAddressNavigation.Floor"></label></td></tr>
        <tr><td><input asp-for="Student.IdAddressNavigation.Floor" type="text" /></td></tr>

        <tr>
            <td>
                <label asp-for="Student.Credits"></label>
                <img class="open-help" src="~/images/icons/002-question-mark.png" id="open-help-ects" onclick="javascript: toggleHelpEcts();" draggable="false" />
                <div class="help-ects">
                    Insira os créditos  obtidos até ao momento.<br />
                    Clique <a target="_blank" href="https://www.ips.pt/ips_si/legislacao_geral.ver_legislacao?p_nr=27">aqui</a> para saber mais.
                </div>
            </td>
        </tr>
        <tr><td><input asp-for="Student.Credits" placeholder="ECTS" /></td></tr>
        <tr><td><span asp-validation-for="Student.Credits" class="error-message"></span></td></tr>

        <tr> <td><input type="submit" value="Guardar" /></td> </tr>
    </table>
</form>
