@model CIMOB_IPS.Models.Technician

<form asp-action="EditProfileTechnician" method="post" class="user-form">
    <table>
        @Html.HiddenFor(model => Model.IdAccount)
        @Html.HiddenFor(model => Model.Name)
        <tr> <td><label asp-for="Telephone"></label></td></tr>
        <tr> <td><input asp-for="Telephone" type="text" /></td></tr>
        <tr> <td><span asp-validation-for="Telephone" class="error-message"></span></td></tr>

        <tr> <td><input type="submit" value="Guardar" /></td> </tr>
    </table> 
</form>