@model CIMOB_IPS.Models.Student


<form asp-action="UpdateProfileStudent" method="post" class="user-form">
    <table>
        @Html.HiddenFor(model => Model.IdAccount)
        @Html.HiddenFor(model => Model.Name)
        <tr> <td><label asp-for="Telephone"></label></td></tr>
        <tr> <td><input asp-for="Telephone" type="text"/></td></tr>
        <tr> <td><span asp-validation-for="Telephone" class="error-message"></span></td></tr>

        <tr><td><label asp-for="StudentNum"></label></td></tr>
        <tr><td><input asp-for="StudentNum" placeholder="Número de Estudante" type="text" /></td></tr>
        <tr><td><span asp-validation-for="StudentNum" class="error-message"></span></td></tr>

        <tr><td><label asp-for="Address"></label></td></tr>
        <tr><td><input asp-for="Address" placeholder="Número de Estudante" /></td></tr>
        <tr><td><span asp-validation-for="Address" class="error-message"></span></td></tr>

        <tr> <td><input type="submit" value="Guardar"/></td> </tr>
    </table>
</form>