@model CIMOB_IPS.Models.ProfileViewModel
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />


<form asp-action="UpdateProfileStudent" method="post" class="user-form" enctype="multipart/form-data">
    <div class="photo">
        <input type="file" name="avatar" accept="image/x-png">
       <div class="photo__helper">
            <div class="photo__frame photo__frame--circle">
                <canvas class="photo__canvas"></canvas>
                <div class="message is-empty">
                    <p class="message--desktop">Arraste a sua foto ou procure no seu computador</p>
                </div>
                <div class="message is-loading">
                    <i class="fa fa-2x fa-spin fa-spinner"></i>
                </div>
                <div class="message is-dragover">
                    <i class="fa fa-2x fa-cloud-upload"></i>
                    <p>Largue a foto</p>
                </div>
                <div class="message is-wrong-file-type">
                    <p>Só são permitidas imagens</p>
                    <p class="message--desktop">Arraste a sua foto ou procure no seu computador</p>
                </div>
            </div>
        </div>

        <div class="photo__options hide">
            <div class="photo__zoom">
                <input type="range" class="zoom-handler">
            </div><a href="javascript:;" class="remove"><img style="width:2vw;height:2vw;" src="~/images/icons/error.png" /></a>
        </div>
    </div>

    <table>
        @Html.HiddenFor(model => Model.Student.IdAccount)
        @Html.HiddenFor(model => Model.Student.Name)
        <tr> <td><label asp-for="Student.Telephone"></label></td></tr>
        <tr>
            <td>
                <input asp-for="Student.Telephone" type="text" />
            </td>
        </tr>
        <tr> <td><span asp-validation-for="Student.Telephone" class="error-message"></span></td></tr>

        <tr>
            <td>
                <label>Código Postal</label>
                <img class="open-help" src="~/images/icons/002-question-mark.png" id="open-help-postal" onclick="javascript: toggleHelpPostal();" draggable="false" />
                <div class="help-postal">
                    Insira o código postal e os restantes campos serão automaticamente preenchidos.
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="on-focus clearfix">
                    <input asp-for="PostalCode1" id="input-code1" type="text" style="width:4vw;" onfocusout="javascript:adressCode()" onkeydown="javascript: closeHelpPostal();" />&nbsp;<label>-</label>
                    &nbsp;
                    <input asp-for="PostalCode2" id="input-code2" onfocusout="javascript:adressCode()" type="text" style="width:4vw;" onkeydown="javascript: closeHelpPostal();" />
                </div>
            </td>
        </tr>
        <tr><td><span asp-validation-for="PostalCode1" class="error-message"></span></td></tr>
        <tr><td><span asp-validation-for="PostalCode2" class="error-message"></span></td></tr>

        <tr>
            <td>
                <label>Distrito</label>
                <input id="district" type="text" style="width:8vw;" readonly class="disabled-input" />

                <label>Concelho</label>
                <input id="county" type="text" style="width:8vw;" readonly class="disabled-input" />
            </td>
        </tr>
        <tr></tr>

        <tr> <td><label>Freguesia</label></tr>
        <tr><td><input id="parish" type="text" style="width:100%;" readonly class="disabled-input" /></td></tr>

        <tr> <td><label asp-for="Student.IdAddressNavigation.AddressDesc"></label></td></tr>
        <tr><td><input id="street" asp-for="Student.IdAddressNavigation.AddressDesc" type="text" /></td></tr>
        <tr><td><span asp-validation-for="Student.IdAddressNavigation.AddressDesc" class="error-message"></span></td></tr>

        <tr> <td><label asp-for="Student.IdAddressNavigation.DoorNumber"></label></td></tr>
        <tr><td><input asp-for="Student.IdAddressNavigation.DoorNumber" type="text" /></td></tr>

        <tr> <td><label asp-for="Student.IdAddressNavigation.Floor"></label></td></tr>
        <tr><td><input asp-for="Student.IdAddressNavigation.Floor" type="text" /></td></tr>

        <tr>
            <td>
                <label asp-for="Student.Credits"></label>
                <img class="open-help" src="~/images/icons/002-question-mark.png" id="open-help-ects" onclick="javascript: toggleHelpEcts();" draggable="false" />
                <div class="help-ects">
                    Insira os créditos  obtidos até ao momento.<br />
                    Clique <a target="_blank" href="https://www.ips.pt/ips_si/legislacao_geral.ver_legislacao?p_nr=27">aqui</a> para saber mais.
                </div>
            </td>
        </tr>
        <tr><td><input asp-for="Student.Credits" placeholder="ECTS" /></td></tr>
        <tr><td><span asp-validation-for="Student.Credits" class="error-message"></span></td></tr>

        <tr> <td><input type="submit" value="Guardar" onclick="javascript: updateImageToServer();"/></td> </tr>
    </table>
</form>
