@model CIMOB_IPS.Models.ProfileViewModel

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<p class="page-title">Editar Perfil</p>

<div class="profile">
    <div class="profileImage">
        <img id="img" src="~/images/user1.png" style="width:9.5vw; height:9.5vw" draggable="false" />
    </div>
    <div style="margin-top: 30%;">
            @if (Model.AccountType == EnumAccountType.STUDENT)
            {
                @Html.Partial("_EditProfileStudentForm", Model.Student)
            }
            else
            {
                @Html.Partial("_EditProfileTechnicianForm", Model.Technician)
            }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
