@{
    ViewData["Title"] = "Profile";
}

<h2></h2>
<p id="title">Perfil</p>

<div class="profile">
    <div class="changeImage">
        <img id ="img" src="~/images/user1.png" width="130" height="130" />
        <button id="button" type="button">Alterar Imagem</button>
    </div>

        <table class="information">
            <tr>
                <td><p>Número de Estudante: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Nome Completo: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Nacionalidade: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Escola: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Curso: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Ano Curricular: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Contacto: </p></td><td></td>
            </tr>
            <tr>
                <td><p>E-mail: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Bolsa: </p></td><td></td>
            </tr>
            <tr>
                <td><p>Tipo de Mobilidade Atual: </p></td><td></td>
            </tr>
</table>
                   

</div>
