
@{
    ViewData["Title"] = "Profile";
}

<h2></h2>

<div class="profile">

    <p id="title">Perfil</p>

    <div class="changeImage">
        <img id ="img" src="~/images/user1.png" width="130" height="130" />
        <button id="but" type="button">Alterar Imagem</button>
    </div>

    <div class="information">
        <p>Nome Completo: </p>
        <p>E-mail: </p>
        <p>Contacto: </p>
    </div>

</div>
