.main-application-container  {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 45%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    margin-bottom:5.5%;
}

.application-form {
    width:80%;
    margin-left:11%;
    margin-top: 2%;
    padding-top: 2%;
    position: relative;
}

.application-form p {
    font-size: 1.1vmax;
}


.application-form table {
    margin-left: 1%;
    margin-top:3%;
    margin-bottom:3%;
}

.application-form label {
    position: relative;
    margin-top: 20%;
    font-size: 1.1vmax;
}

.application-form input[type=text], input[type=password], input[type=date], select {
    width: 30vw;
    padding: 2% 3%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1vmax;
    font-family: Arial,Helvetica, sans-serif;
    outline-color:var(--main-color);
}


textarea {
    width: 35vw;
    padding: 1% 2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1vmax;
    margin-left: 2%;
    outline-color: var(--main-color);
}

.application-form input[type=submit], application-form-pager a, application-form-pager button {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1vmax;
    margin-top: 5%;
}

.application-form input[type=submit]:hover {
    background-color: var(--hover-button);
}

.application-form-pager{
    margin-top:2%;
    margin-left:69%;
    padding-bottom:2%;
    position:relative;
}

.application-form-pager input[type=submit] {
    background-color: #222222;
    border-radius: 3%;
    border: 0.7px solid #222222;
    color: #f1f1f1;
    padding: 4%;
    font-size: 1vmax;
    width:12vw;
    display:inline-block;
}

.application-form-pager input[type=submit]:hover:enabled {
    background-color: var(--main-color);
    cursor: pointer;
    border: 0.7px solid var(--main-color);
}

input[type=submit]:disabled {
    background-color: #AAAAAA;
}

input[type=submit]:disabled:hover {
    background-color: #AAAAAA;
}


fieldset {
    border: 0px solid #222222; 
    margin-left:0;
}

legend {
    padding: 0.2em 0.5em;
    border: 0px solid var(--main-color);
    color: #222222;
    font-size: 1.1vmax;
    text-align: center;
}

.disabled-input {
    background-color: #ddd;
    pointer-events: none;
    color:black;
}

.application-form-pager a, .application-form-pager a:visited, .application-form-pager a:link, .application-form-pager a:active {
    background-color: #222222;
    border-radius: 3%;
    border: 0.7px solid #222222;
    color: #f1f1f1;
    padding: 2%;
    font-size: 1vmax; 
    width: 6.5vw;
    display: inline-block;
    text-align:center;
    text-decoration:none;
}


.application-form-pager a:hover {
    background-color: var(--main-color);
    cursor: pointer;
    border: 0.7px solid var(--main-color);
}


.box-available-inst {
    margin-left: 12%;
    width: 65%;
    min-height: 10vw;
}

.box-chosen-inst {
    margin-left: 12%;
    width: 65%;
    min-height: 10vw;
}

.box-chosen-inst ul {
    width: 88%;
    margin:0;
}

.available-inst {
    display: block;
    border: 1px solid #CCC;
    text-align: left;
    border-radius: 0.2vw;
    opacity: 1;
    margin-top: 0.8%;
    color: #222222;
    cursor: default;
    font-size: 1.2vmax;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.available-inst:hover {
    background-color: var(--blue-var5);
    cursor: default;
}

.connected  {
    margin-top:0;
}

.connected li {
    border: 1px solid #CCC;
    background: #F6F6F6;
    color: var(--blue-var2);
    padding: 0.4vw;
}

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}

.myApp-institutions {
    margin-left:0;
}

.myApp-institutions li {
    list-style: decimal;
    border: 1px solid #CCC;
    background: #F6F6F6;
    color: var(--blue-var2);
    width:30%;
    cursor:default;
    font-size:1.1vmax;
}

#motivationCard-title {
    position: relative;
    display: inline-block;
}

#motivationCard {
    width: 45vw;
    overflow-y: auto;
    word-wrap: break-word;
    height: 23vh;
    position: relative;
    display: block;
    font-size: 1.10vmax;
}

.main-application-container p{
    font-size:1.12vmax;
}


.open-help {
    width: 1.45vw;
    margin-left: 100%;
    cursor: pointer;
    position: relative;
}

.help-inst {
    margin-top:0%;
    display: none;
    width: 25vw;
    margin-left: 10%;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 3px rgba(0,0,0,0.2);
    padding: 1%;
    font-size: 1vmax;
    z-index:900;
}


.help-inst video {
    width: 22vw;
    left:1.5vw;
    position: relative;
}

#confirm-application {
    background-color: green;
    color: #FFF;
    border-radius: 2%;
    border: 0px;
    padding: 1%;
    margin-right: 0;
    font-size: 1.1vmax;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2%;
    margin-top: 3.5%
}

#confirm-application:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#deleteApplication {
    background-color: #e74c3c;
    color:#FFF;
    border-radius:2%;
    border:0px;
    padding:1%;
    margin-right:0;
    font-size: 1.1vmax;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 5%;
}

#deleteApplication:hover {
    background-color: #d61b15;
    cursor:pointer;
}

.evaluate-application {
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 3%;
    width: 65%;
    height: 100%;
    border: none;
    background-color: var(--main-color);
    border-radius: 2%;
    font-weight: bold;
    font-size: 1.1vmax;
    color: var(--secundary-color);
    text-decoration: none;
    margin-left: 30%;
}

.evaluate-application:first-child {
    padding: 1%;
    margin-top: 2%;
    border-radius: 3%;
    width:65%;
    height: 100%;
    border: none;
    background-color: var(--main-color);
    border-radius: 2%;
    font-weight: bold;
    font-size: 1.1vmax;
    color: var(--secundary-color);
    text-decoration: none;
    margin-left: 30%;
}

.evaluate-application:hover {
    background-color: var(--hover-button);
    cursor: pointer;
}


.main-container-submitted-applications {
    text-align: center;
    margin: 0 auto;
    margin-top: 0.2%;
    width: 50%;
    margin-left: 25%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.main-container-submitted-applications table {
    border-collapse: separate;
    border-spacing: 0 0.5em;
    background-color: white;
    width:90%;
}

.main-container-submitted-applications table th {
    background-color: white;
    font-size: 1.1vmax;
    
}

.main-container-submitted-applications table tbody tr {
    background-color: #e6e6e6;
    height: 10%;
    
    font-size: 1.1vmax;
    cursor:default;
}

.main-container-submitted-applications table tbody tr:hover {
    background-color: #d2d2d2;
}


.evaluate-application-form label {
    font-size: 1.1vmax;
}


.evaluate-application-form input[type=number]{
    font-size:1.1vmax;
    width:3vw;
    text-align:center;

}

.evaluate-application-form input[type=text] {
    font-size: 1.1vmax;
    width: 3vw;
    text-align: center;
    cursor:default;
}

.evaluate-application-form input[type=submit] {
    width: 15%;
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1vmax;
    margin-left: 81%;
}

.evaluate-application-form input[type=submit]:hover {
    background-color: var(--hover-button);
}

#search-application {
    margin-top:5%;
    margin-left:50%;
    position:relative;
}


#search-application input[type="search"] {
    width: 15vw;
    padding: 0.7% 0.7%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1vmax;
    margin-left:18.5%;
}

    #search-application input[type="search"]:focus {
        outline: none;
    }

#search-application button[type="submit"] {
    width: 7%;
    background-color: var(--main-color);
    color: var(--secundary-color);
    padding: 0.7%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1vmax;
    margin-left: -0.5%;
    position: relative;
}

#search-application button[type="submit"]:hover {
    background-color: var(--hover-button);
}

#viewMotivationCard {
    height: 7%;
    width: 20%;
    margin-top: 2%;
    border: none;

    background-color: inherit;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1vmax;
}

#viewMotivationCard:hover {
    cursor: pointer;
    text-decoration: underline;
}

#application-details {
    display: block;
    position: fixed;
    margin-top: 4%;
    margin-left: 30%;
    z-index: 999;
    width: 40%;
    opacity:1;
}

.loading-div {
    position: fixed;
    z-index: 999;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    height: 50%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    opacity: 1;
}

#loading-application {
    position: relative;
    margin-left: 48%;
    margin-top: 35%;
    width: 4.1%;
    height: 4.5%;
}
