#notFound {
    background: var(--main-grey);
    width: 34vw;
    height: 32vw;
    margin-top: 5%;
    margin-left: 31%;
    border-radius: 50%;
}

    #notFound img {
        width: 29vw;
        position: relative;
        margin-left: 8%;
    }

    #notFound p {
        font-size: 2vw;
        position: relative;
        display: block;
        font-weight: bold;
        color: #EDEDED;
        margin-top: -6%;
    }
