html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.imgContainer {
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 30%;
    border: 0px solid;
}

.slider-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-img img{
    width: 100%;
    height: 100%;
}

#i1,#i2,#i3{
    display: none;
}

.pre, .nxt {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: .45s;
    z-index: 99;
}

    .pre:hover,
    .nxt:hover {
        transition: .3s;
        background: rgba(241,241,241,.4);
        cursor: pointer;
    }

.arrPre , .arrNxt  {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.arrPre {
    border-color: transparent var(--main-blue) transparent transparent;
    right: 50%;
}

.arrNxt {
    border-color: transparent transparent transparent var(--dark-grey);
    left: 50%;
}

.pre{
    left:0;
}
.nxt{
    right:0;
}

.navi{
    width:100%;
    height: 7%;
    bottom:12%;
    position:absolute;
    text-align:center;
    z-index:999;
}

.dots {
    top: 150%;
    width: 1.5%;
    height: 50%;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--dark-grey);
    z-index: 999;
}

    .dots:hover {
        background: var(--hover-button);
        cursor: pointer;
    }

.slider-img {
    z-index:-1;
}

#i1:checked ~ #first,
#i2:checked ~ #second,
#i3:checked ~ #third {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked ~ .navi #dot1,
#i2:checked ~ .navi #dot2,
#i3:checked ~ .navi #dot3 {
    background: var(--main-color);
}

.applicationDate {
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    color: #333;
    width: 100%;
    height: 7%;
    bottom: 1%;
    position: absolute;
    text-align: center;
}

