.imgContainer {
    margin: 0 auto;
    margin-top: 0%;
    position: relative;
    width: 70%;
    padding-bottom: 75Vh;
    border: 0px solid;
}

.slider-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.5%;
}


.slider-img img.transparent {
    opacity: 0;
}

#i1,#i2,#i3, #i4{
    display: none;
}

.pre, .nxt {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: .45s;
    z-index: 99;
}

.pre:hover,
.nxt:hover {
    transition: .3s;
    background: rgba(241,241,241,.4);
    cursor: pointer;
}

.arrPre , .arrNxt  {
    position: absolute;
    width: 0px;
    height: 0px;
    border: solid 20px;
    top: 50%;
    transform: translateY(-50%);
}

.arrPre {
    border-color: transparent var(--main-blue) transparent transparent;
    right: 50%;
}

.arrNxt {
    border-color: transparent transparent transparent var(--dark-grey);
    left: 50%;
}

.pre{
    left:0;
}
.nxt{
    right:0;
}

.navi{
    width:100%;
    height: 7%;
    bottom:12%;
    position:absolute;
    text-align:center;
    z-index:999;
}

.dots {
    top: 150%;
    width: 1vw;
    height: 1vw;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--dark-grey);
    z-index: 999;
}

    .dots:hover {
        background: var(--hover-button);
        cursor: pointer;
    }

.slider-img {
    z-index:-1;
}

#i1:checked ~ #img1,
#i2:checked ~ #img2,
#i3:checked ~ #img3,
#i4:checked ~ #img4 {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked ~ .navi #dot1,
#i2:checked ~ .navi #dot2,
#i3:checked ~ .navi #dot3,
#i4:checked ~ .navi #dot4 {
    background: var(--main-color);
}

.applicationDate {
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    color: #333;
    width: 100%;
    height: 7%;
    bottom: 1%;
    position: absolute;
    text-align: center;
}



/**
    SECOND TRY
*/
@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 28s slidy infinite ease;
}
