
.programs-display {
    text-align: center;
    margin-top: 3%;
    margin-left: 21%;
    width: 100%;
    font-size: 1.1vmax;
}

.TitleDiv {
    margin-left: 26%;
    margin-top: 4%;
    margin-bottom: 7%;

}

.TitleDiv img {
    width: 48vw;
    height: 15vw;
    user-select: none;
}

.programs-display table {
    background-color: white;
}

.programs-display button {
    height: 7%;
    width: 40%;
    margin-top: 2%;
    float: right;
    border: none;
    background-color: #222222;
    border-radius: 3%;
    border: 0.7px solid #222222;
    font-weight: bold;
    font-size: 1vmax;
    color: #f1f1f1;
}

.programs-display table img {
    width: 40vw;
    height: 10vw;
    user-select: none;
}

.programs-display button:hover {
    background-color: var(--blue-var4);
    cursor: pointer;
}