:root {
    --main-blue: #597EAA;
    --blue-var1: #9FC5F8;
    --blue-var2: #6FA8DC;
    --blue-var3: #085394;
    --blue-var4: #6FBAE4;
    --main-grey: #383838;
    --grey-var1: #54565B;
    --light-grey: #F1F1F1;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}




.middleSquare {
    background-color: white;
    border: 1px solid var(--light-grey);
    width: 40%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
}

.middleSquare h2 {
    padding-left: 42%;
    margin-top: -5%;
    margin-bottom: 10%;
}

.middleSquare table{
    align-items:center;
}

.middleSquare td {
    padding: 2%;
    padding-left:11%;
}

.inputLength{
    width:80%;
}

.tableLogin {
    padding-left: 12%;
    border-spacing: 2vw;
}

.tableLogin td {
    padding:4%;
}

.squaredThree {
    width:1.7vw;
    height:1.7vh;
    box-shadow: var(--blue-var2);
}


.loginTitle {
    font-size: 1.75vmax;
    margin-left: 42%;
}
