:root {
    --main-blue: #597EAA;
    --blue-var1: #9FC5F8;
    --blue-var2: #6FA8DC;
    --blue-var3: #085394;
    --blue-var4: #6FBAE4;
    --blue-var5: #e5e5ff;
    --main-grey: #383838;
    --grey-var1: #54565B;
    --light-grey: #F1F1F1;
    --dark-grey: #222222;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}


/*
    Session bar:
*/

.nav-session {
    z-index: 600;
    position: fixed;
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
    height: 6vmin;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--dark-grey);
    color: white;
}

.nav-session a {
    font-size: 1.1vmax;
    font-weight:500;
}

.nav-session a, .nav-session a:visited, .nav-session a:link, .nav-session a:active {
    text-decoration:none;
    color: var(--blue-var4);
}

.nav-session a, .nav-session a:visited:hover, .nav-session a:link:hover, .nav-session a:active:hover {
    text-decoration: underline;
}

#session-logo {
    position: fixed;
    margin-left:0.6vw;
}

#session-logo img {
    width: 15vmin;
    height: 4vmin;
    position:fixed;
    top:1%;
}

.session-name {
    position: fixed;
    left: 44vw;
}
.session-name a, .session-name a:visited, .session-name a:link, .session-name a:active {
    text-decoration: none;
    color: var(--light-grey);
    font-size:1vw;
}

.session-name a:hover, .session-name a:visited:hover, .session-name a:link:hover, .session-name a:active:hover {
    text-decoration: none;
}

#logout{
    color:var(--blue-var4);
    font-size:0.9vw;
}

#logout:hover, #logout:visited:hover, #logout:link:hover, #logout:active:hover {
    text-decoration: underline;
}

.option-button {
    height: 2.5vmin;
    width: 2.5vmin;
    user-select:none;
}

.option-button:hover {
    cursor: pointer;
}

#help {
    margin-right: 2.1vw;
}

#notifications {
    position: relative;
    margin-right: 1.9vw;
}

#options {
    margin-right: 1vw;
}

.session-actions {
    position: fixed;
    margin-left: 87.5vw;
    width:100%;
}

.sign-up {
    margin-left:1vw;
}

.navbar-menu {
    z-index: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 6vmin;
    position: fixed;
    width: 100%;
    height: 4.5vmin;
    background-color: var(--blue-var4);
}

.navbar-menu > ul {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
}

.navbar-menu li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin-left:4vw;
}

.navbar-menu li:first-child {
    margin-left: 0.94vw;
}

.navbar-menu a, .navbar-menu a:visited, .navbar-menu a:link, .navbar-menu a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight:bold;
    font-size: 1.2vmax;
}


.navbar-menu li:hover, .navbar-menu li:hover a {
    color: var(--light-grey)
}


.navbar-menu img{
    opacity: 0.80;
}

.navbar-menu img:hover {
    opacity: 1;
}


.sub-menu {
    display: none;
    position: fixed;
    background-color: var(--blue-var4);
    min-width: 12vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:700;
    color:var(--grey-var1);
    top:10.5%;
    padding:0;
}

.sub-menu li, .sub-menu li:first-child {
    position: relative;
    margin-left: 5%;
    margin-top: 7%;
}

.sub-menu li:first-child {
    margin-top: 2%;
}

.sub-menu li a, .sub-menu li a:visited, .sub-menu li a:link, .sub-menu li a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: bold;
    font-size: 1.1vmax;
    display: inline-block;
}

.sub-menu li:hover, .sub-menu li:hover a {
    color: var(--light-grey)
}

.navbar-menu li:hover .sub-menu{
    display:block;
}


footer {
    position: fixed;
    background: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vmin;
    width: 100%;
    height: 3%;
    bottom: 0;
    left: 0;
    z-index: 800;
}


/*
    SUB-MENUS 
*/
.menu-settings {
    display: none;
    position: fixed;
    left: 86.9%;
    top: 10.8%;
    width: 13%;
    z-index: 700;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-settings > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 0;
}


.menu-settings li {
    text-align: right;
    margin-right: 5%;
    display: block;
    list-style: none;
    font-size: 1.2vmax;
    height: 100%;
    margin-top: 1.5vmin;
}

.menu-settings a, .menu-settings a:visited, .menu-settings a:link, .menu-settings a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size: 1.1vmax;
}

.menu-settings a:hover {
    font-weight: 700;
}

/*
    NOTIFICATIONS
*/
.notifications {
    display: none;
    position: fixed;
    left: 79%;
    top: 10.8%;
    width: 18%;
    z-index: 700;
}

.notifications > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 0;
}

.notifications li {
    text-align: center;
    margin-right: 5%;
    list-style: none;
    width: 100%;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.notifications li:first-child {
    margin-top: 0;
}

.notifications a, .notifications a:visited, .notifications a:link, .notifications a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size: 1.1vmax;
}

.body-panel {
    position: fixed;
    min-height: 87vmin;
    min-width:100%;
    top: 10.5vmin;
    background-color: var(--light-grey);
    z-index: 100;
    padding:2%;
}


#fade-background {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: black;
    opacity: 0.6;
}


#help-content {
    display:none;
    position:fixed;
    z-index: 998;
    background-color:white;
    width:50%;
    height:85%;
    top:10%;
    left:25%;
}

#help-close {
    display:none;
    position: fixed;
    width: 1.8vw;
    height: 1.8vw;
    top: 8.9%;
    left: 74%;
    z-index: 999;
    cursor:pointer;
}


#background-image {
    width: 100%;
    height: 88.5vmin;
}
/*
   PROFILE
*/

.information {
    font-size: 15px;
    font-family: 'Segoe UI';
    width: 300px;
    height: 120px;
    position: absolute;
    top: 150px;
    margin-left: 25px;
}

.changeImage {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 130px;
    margin-left: 350px;
}

#but {
    display: block;
    margin: auto;
}

#img {
    display: block;
    margin: auto;
}

#title {
    margin-left: 200px;
    font-size: 40px;
    font-family: 'Segoe UI';
    font-weight: bold;
    color: var(--main-grey);
}

.profile {
    background-color: white;
    border-bottom: var(--light-grey);
    border-width:thin;
    padding: 5%;
    width: 40%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
}


/*
    MÁXIMO USÁVEL. RESPONSIVENESS(?)
*/
@media screen and (max-width: 720px) {
    .navbar-menu,.nav-session, footer {
        
    }
}

