:root {
    --main-blue: #597EAA;
    --blue-var1: #9FC5F8;
    --blue-var2: #6FA8DC;
    --blue-var3: #085394;
    --blue-var4: #6FBAE4;


    --main-grey: #383838;
    --grey-var1: #54565B;

    --light-grey:#F1F1F1;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}


/*
    Session bar:
*/
.nav-session {
    z-index: 600;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 4.5vmin;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--grey-var1);
    color: white;
}

.nav-session a {
    font-size: 1.1vmax;
    font-weight:500;
}

.nav-session a, .nav-session a:visited, .nav-session a:link, .nav-session a:active {
    text-decoration: none;
    color: var(--blue-var4);
}

.session-name {
    position: relative;
    font-size: 1.1vw;
    margin-right: 78.5vw;
}
.option-button {
    height: 2.5vmin;
    width: 2.5vmin;
    user-select:none;
}

.option-button:hover {
    cursor: pointer;
}

#help {
    margin-right: 2.1vw;
}

#notifications {
    position: relative;
    margin-right: 1.9vw;
}

#options {
    margin-right: 1vw;
}


.session-actions {
    position: relative;
    margin-right: 1vw;
}

.sign-in, .sign-out {

}

.sign-up {
    margin-left:1vw;
}


.navbar-menu {
    z-index: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 4.5vmin;
    position: fixed;
    width: 100%;
    height: 4vmin;
    background-color: var(--blue-var2);
    box-shadow: 0px 0.5px 0px 0px var(--grey-var1);
}

.navbar-menu > ul {
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
}

.navbar-menu li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.2vmax;
    height: 100%;
    margin-left:4.5vw;
}

.navbar-menu li:first-child {
    margin-left: 0.94vw;
}

.navbar-menu a, .navbar-menu a:visited, .navbar-menu a:link, .navbar-menu a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 300;
}


.navbar-menu li:hover, .navbar-menu li:hover a {
    font-weight: 700;
}

footer {
    position: fixed;
    background: var(--grey-var1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.7vmin;
    width: 100%;
    height: 3%;
    bottom: 0;
    left: 0;
    z-index: 800;
}


/*
    SUB-MENUS
*/
.submenu {
    display: none;
    position: fixed;
    left: 86.9%;
    top: 8.7%;
    width: 13%;
    height: 23vmin;
    z-index: 700;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px var(--grey-var1);
}

.submenu > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top:0;
}


.submenu li {
    text-align:right;
    margin-right:5%;
    display: block;
    list-style: none;
    font-size: 1.2vmax;
    height: 100%;
    margin-top: 1.5vmin;
}

.submenu a, .submenu a:visited, .submenu a:link, .submenu a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size:1.1vmax;
}

.submenu a:hover {
    font-weight: 700;
}

/*
    NOTIFICATIONS
*/
.notifications {
    display: none;
    position: fixed;
    left: 80%;
    top: 8.7%;
    width: 18%;
    z-index: 700;
}

.notifications > ul {
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: 0;
}

.notifications li {
    text-align: center;
    margin-right: 5%;
    list-style: none;
    width: 100%;
    box-shadow: 1px 1px 0px 1px var(--grey-var1);
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.notifications li:first-child {
    margin-top: 0%;
}

.notifications a, .notifications a:visited, .notifications a:link, .notifications a:active {
    text-decoration: none;
    color: var(--grey-var1);
    font-weight: 500;
    font-size: 1.1vmax;
}

.body-panel {
    position: relative;
    min-height: 88.5vmin;
    top: 8.5vmin;
    background-color: var(--light-grey);
    z-index: 100;
}


#fade-background {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: black;
    opacity: 0.6;
}


#help-content {
    display:none;
    position:fixed;
    z-index: 998;
    background-color:white;
    width:50%;
    height:85%;
    top:10%;
    left:25%;
}

#help-close {
    display:none;
    position: fixed;
    width: 1.8vw;
    height: 1.8vw;
    top: 8.9%;
    left: 74%;
    z-index: 999;
    cursor:pointer;
}

/*
    MÁXIMO USÁVEL. RESPONSIVENESS(?)
*/
@media screen and (max-width: 720px) {
    .navbar-menu,.nav-session, footer {
        background-color:red;
    }
}