<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]CIMOB-IPS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

</head>
<body>
    <nav>
        @Html.Partial("SessionBar")<!-- Eventualmente mandar a sessão ou um objeto com info-->
        <div class="navbar-menu">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">Programa</a></li>
                
                @if (ViewData["Autentication"] != null && (ViewData["Autentication"].ToString() == "Student" || ViewData["Autentication"].ToString() == "CIMOB"))
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Área Pessoal</a></li>
                }
                @if (ViewData["Autentication"] != null && ViewData["Autentication"].ToString() == "CIMOB")
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Listagens</a></li>
                }
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contactos</a></li>       
            </ul>
        </div>    
    </nav>
    <div class="body-panel">
        @RenderBody()
    </div>
        <footer>
            <p>&copy; 2018 &nbsp; CIMOB - Instituto Politécnico de Setúbal</p>
        </footer>
    x
    @RenderSection("Scripts", required: false)
</body>
</html>
