
<!--IF NO AUTHENTICATION -->
<div class="nav-session">
    <div>
        <span class="session-name">Não Autenticado</span>
    </div>
   
    <div class="session-actions">
        <span class="sign-in"> <a href="#">Autenticar</a></span>

        <span class="sign-up"><a href="#">Criar conta</a></span>
    </div>
</div>


<!--IF AUTHENTICATION 

<div class="nav-session">
    <div>
        <span class="session-name">Não Autenticado</span>
    </div>

    <div class="session-actions">
        <span class="sign-in"> <a href="#">Autenticar</a></span>

        <span class="sign-up"><a href="#">Criar conta</a></span>
    </div>
</div>

<div class="buttons">


</div>-->

