body {
   background-image: url('../images/savin-ny-website-background-web.jpg');
   font-family:'Segoe UI ', Tahoma, Geneva, Verdana, sans-serif
   
}

.body-content {

}

footer{
    position:fixed;
    background:#597EAA;
    color:white;
    text-align:center;
    width:100%;
}