
@{
    ViewData["Title"] = "ChooseProgram";
}

<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />



<div class="TitleDiv"> <img src="~/images/bannerPrincipal.jpg" /> </div>

<div class="programs-display">
    <table>
        <tr>
            <td>
                <img src="~/images/Erasmus-logo1.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div> 
                <button asp-controller="Application" asp-action="New" >Candidatar-me</button>
            </td>

        </tr>
        <tr>
            <td>
                <img src="~/images/bannerLuso.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New" >Candidatar-me</button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/images/bannerIbero.jpg" />

            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New" >Candidatar-me</button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/images/logo-macaopoly.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/images/vasco-logo.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>
        </tr>
    </table>
</div>

