@model CIMOB_IPS.Models.ViewModels.ProgramViewModel

@{
    ViewData["Title"] = "Create Program";
}

<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />

<p class="page-title">Novo Programa</p>

<div class="main-application-container">
    <form asp-action="Create" method="post" class="application-form" id="form-application">
        <table>
            <tr><td><label asp-for="IdProgramType"></label></td></tr>
            <tr><td> @Html.DropDownListFor(model => model.IdProgramType, Model.ProgramTypes, "-- Seleccione o tipo de programa --")</td></tr>
            <tr><td><span asp-validation-for="IdProgramType" class="error-message"></span></td></tr>
            <tr><td><label asp-for="OpenDate"></label></td></tr>
            <tr><td><input asp-for="OpenDate" type="date" /></td></tr>
            <tr><td><span asp-validation-for="OpenDate" class="error-message"></span></td></tr>

            <tr><td><label asp-for="ClosingDate"></label></td></tr>
            <tr><td><input asp-for="ClosingDate" type="date" /></td></tr>
            <tr><td><span asp-validation-for="ClosingDate" class="error-message"></span></td></tr>

            <tr><td><label asp-for="MobilityDate"></label></td></tr>
            <tr><td><input asp-for="MobilityDate" type="date" /></td></tr>
            <tr><td><span asp-validation-for="MobilityDate" class="error-message"></span></td></tr>

            <tr><td><label asp-for="Institutions"></label></td></tr>
            @Html.EditorFor(model => model.Institutions)
            <tr><td><span class="error-message">@ViewData["Institutions-Error"]</span></td></tr>

            <tr><td><label asp-for="Vacancies"></label></td></tr>
            <tr><td><input asp-for="Vacancies" type="text" /></td></tr>
            <tr><td><span asp-validation-for="Vacancies" class="error-message"></span></td></tr>

            <tr> <td><input type="submit" value="Criar" /></td> </tr>
        </table>
    </form>
</div>
