@model IEnumerable<CIMOB_IPS.Models.Program>


<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />


<div class="loading-program-div" style="border-radius:1.5%;">
    <img id="loading-program" style="display:block" src="~/images/ajax-loader.gif" />
</div>


<div class="program-details" style="border-radius:1.5%;height:100%;">

</div>


<div class="programs-display">
    <img draggable="false" class="selected-program-banner" id="programErasmus" src="~/images/Erasmus-logo1.jpg" onclick="showProgramDetails(1);"/>
    <img draggable="false" class="program-banner" id="programLuso" src="~/images/bannerLuso.jpg" onclick="showProgramDetails(4);"/>
    <img draggable="false" class="program-banner" id="programIbero" src="~/images/bannerIbero.jpg" onclick="showProgramDetails(5);" />
    <img draggable="false" class="program-banner" id="programVasco" src="~/images/vasco-logo.jpg" onclick="showProgramDetails(6);"/>
    <img draggable="false" class="program-banner" id="programMacau" src="~/images/logo-macaupoly.jpg" onclick="showProgramDetails(7);"/>
</div>   

