@model CIMOB_IPS.Models.Account
@{
    ViewData["Title"] = "ChangePassword";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title-login">Alterar Palavra-Passe</h2>
<div class="main-container-login">
    <form asp-action="ExecLoginAsync" class="login-form">
        <table>
            <tr>
                <td><label asp-for="Password" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Password" placeholder="***************"  /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Email" class="error-message"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Password" placeholder="***************" /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Password" class="error-message"></span></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        </form>

        </div>

