
@{
    ViewData["Title"] = "Register";
}

<h2>Registo</h2>

<div>
    <form>
        <table>
            <tr>
                <td><label for="name" name="labelName">Nome Completo</label></td>
                <td><input type= "text" name="name"/></td>
            </tr>
            <tr>
                <td><label for="studentID" name="labelStudentID">Número de Estudante(IPS)</label></td>
                <td><input type="number" name="studentID" /></td>
            </tr>
        </table>
    </form>
</div>

