
@{
    ViewData["Title"] = "Register";
}

<h2>Registo</h2>

<div>
    <form>
        <table>
            <tr>
                <td><label for="name" name="labelName">Nome Completo</label></td>
                <td><input type= "text" name="name"/></td>
            </tr>
            <tr>
                <td><label for="studentID" name="labelStudentID">Número de Estudante(IPS)</label></td>
                <td><input type="number" name="studentID" /></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <form>
        <table>
            <tr>
                <td><label for="email" name="labelEmail"></label></td>
                <td><input type="email" name="email" /></td>
            </tr>
            <tr>
                <td><label for="telephone" name="labelTelephone"></label></td>
                <td><input type="tel" name="telephone" /></td>
            </tr>
            <tr>
                <td><label for="credits" name="labelCredits"></label></td>
                <td><input type="number" name="credits" /></td>
            </tr>

        </table>
    </form>
</div>

