
@{
    ViewData["Title"] = "Invite";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Convites de equipa CIMOB</h2>

<div class="main-container-invite">
    <form class="invite-form">
        <table>
            <tr>
                <td>
                    <label for="email">E-mail do Técnico </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input id="email" name="email" required type="email" placeholder="nome.apelido@ips.pt" />
                </td>
            </tr>
        </table>
          <input type="submit" value="Enviar convite" />
     </form>
</div>

<div>

</div>
