
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title-login">Autenticar</h2>
<div class="main-container-login">
    <form asp-action="ExecLoginAsync" class="login-form">
        <table>
            <tr>
                <td><label class="login-formlabel" for="email"> Email:</label></td>
            </tr>
            <tr>
                <td><input type="email" name="email" id="email" required placeholder="exemplo@exemplo.com"/></td>
            </tr>
            <tr>
                <td><label class="login-formlabel" for="password" >Palavra-passe:</label></td>
            </tr>
            <tr> 
                <td><input type="password" name="password" required placeholder="***************" /></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>

        
        <a asp-area="" asp-controller="Home" asp-action="Index">Esqueceu-se da palavra-passe?</a>
        <div class="form-error">
            <label >@ViewData["Login-Message"]</label>
        </div>
        <input type="submit" value="Autenticar" class="submitButton" />
    </form>
</div>

