@model CIMOB_IPS.Models.Account
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title-login">Autenticar</h2>
<div class="main-container-login">
    <form asp-action="ExecLoginAsync" class="login-form">
        <table>
            <tr>
                <td><label asp-for="Email" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Email" placeholder="exemplo@dominio.com" /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Email" class="error-message"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Password" type="password" placeholder="***************" /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Password" class="error-message"></span></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>

        
        <a style="cursor:pointer;" onclick="javascript: tooglefyp();">Esqueceu-se da palavra-passe?</a>
        <div class="form-error">
            <label >@ViewData["Login-Message"]</label>
        </div>
        <input type="submit" value="Autenticar" class="submitButton" />
    </form>
</div>


<div class="main-container-fyp" id="fyp">
    <img id="fyp-close" src="~/images/icons/error.png" onclick="javascript: tooglefyp();" />
    <form asp-action="ExecLoginAsync" class="fyp-form">
        <table>
            <tr>
                <td><label class="fyp-formlabel" for="email"> <b>Recuperação de senha</b></label></td>
            </tr>
            <tr>
                <td><label class="fyp-formlabel" for="email" id="fyp-emailbox"> Email:</label></td>
            </tr>
            <tr>
                <td><input type="email" name="email" id="email" required placeholder="exemplo@exemplo.com" /></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <div class="form-error">
            <label>@ViewData["Login-Message"]</label>
        </div>
        <input type="submit" value="Enviar" class="submitButton" />
    </form>
</div>