
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="loginTitle">Autenticar</h2>
<div class="middleSquare">

    <form>
        <table class="tableLogin">
            <tr>
                <td><label for="email" name="labelEmail">Email:</label></td>
                <td><input type="text" name="email" /></td>
            </tr>
            <tr>
                <td><label for="password" name="labelPassword">Password:</label></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td></td><td><input type="checkbox" name="rememberMe" value=1 class="squaredThree"/>Lembrar-me</td>
            </tr>
            <tr>
                <td></td>
                <td class="buttonSubmit"><input type="submit" value="Autenticar" class="submitButton" /></td>
            </tr>
        </table>
    </form>
</div>