
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="loginTitle">Autenticar</h2>
<div class="middleSquare">

    <form asp-action="ExecLogin">
        <table class="tableLogin">
            <tr>
                <td><label for="email" name="labelEmail">Email:</label></td>
                <td><input type="email" name="email" id="email"/></td>
            </tr>
            <tr>
                <td><label for="password" name="labelPassword">Password:</label></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <!--<td></td><td><input type="checkbox" name="rememberMe" value=1 class="squaredThree"/>Lembrar-me</td>-->
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Autenticar" /></td>
            </tr>
        </table>
    </form>
</div>