@model CIMOB_IPS.Models.UserViewModel;

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />


<div class="middleSquare">
    <h2>Registo</h2>
    <div>
        <form asp-action="PreRegister">
            <table>
                <tr>
                    <td><label asp-for="Student.Name"></label>:</td>
                    <td><input asp-for="Student.Name" /></td>
                    <td><span asp-validation-for="Student.Name" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Student.StudentNum"></label></td>
                    <td><input asp-for="Student.StudentNum" /></td>
                    <td><span asp-validation-for="Student.StudentNum" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Enviar"/></td>
                </tr> 
            </table>
        </form>
    </div>
</div>

<div class="middleSquare">
    <h2>Registo</h2>
    <div>
        <form asp-action="Register" hidden="hidden">
            <table>
                <tr>
                    <td><label asp-for="Student.Cc"></label></td>
                    <td><input asp-for="Student.Cc" /></td>
                    <td><span asp-validation-for="Student.Cc" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Student.Telephone"></label></td>
                    <td><input asp-for="Student.Telephone" /></td>
                    <td><span asp-validation-for="Student.Telephone" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Student.IdNationality"></label></td>
                    <td><select asp-for="Student.IdNationality" asp-items="ViewBag.IdNationality"></select></td>
                    <td><span asp-validation-for="Student.IdNationality" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label for="school" name="labelSchool">Escola:</label></td>
                    <td><select name="school"><option value="" disabled selected>Escola Superior de Tecnologia de Setúbal</option></select></td>
                </tr>
                <tr>
                    <td><label asp-for="Student.IdCourse"></label></td>
                    <td><select asp-for="Student.IdCourse" asp-items="ViewBag.IdCourse"><option value="" disabled selected>Licenciatura em Engenharia Informática</option></select></td>
                    <td><span asp-validation-for="Student.IdCourse" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Student.Credits"></label></td>
                    <td><input asp-for="Student.Credits" /></td>
                    <td><span asp-validation-for="Student.Credits" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Registar" class="btn btn-default" /></td>
                </tr>   
            </table>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


