@model CIMOB_IPS.Models.UpdatePasswordViewModel
@{
    ViewData["Title"] = "UpdatePassword";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title-login">Alterar Palavra-Passe</h2>
<div class="main-container-login">
    <form asp-action="UpdatePassword" class="login-form">
        <table>
            <tr>
                <td><label asp-for="Account.Password" name="Password Atual:" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Account.Password" type="password" placeholder="***************"/></td>
            </tr>

            <tr>
                <td><label asp-for="NewPassword" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="NewPassword" type="password" placeholder="***************" /></td>
            </tr>
            <tr>
            <tr>
                <td><label asp-for="Confirmation" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Confirmation" type="password" placeholder="***************" /></td>
            </tr>
            
            <tr>
                <td></td>
            </tr>
        </table>

        <input type="submit" value="Alterar" class="submitButton" />
    </form>
</div>

