@model CIMOB_IPS.Models.ViewModels.ContactsViewModel

@{
    ViewData["Title"] = "Contactos";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/contact.css")' />
<h2 class="page-title">Contactos</h2>

<table id="contacts-table">
    <tbody>
        <tr>
            <td>
                <div class="circle" onclick="javascript: showInfo();">
                    <img src="~/images/icons/phone-receiver.png" />
                </div>
            </td>
            <td>
                <a asp-action="TechniciansContact" asp-controller="Home">
                    <div class="circle" id="border-toastedyellow" >
                        <img src="~/images/icons/multiple-users-silhouette.png" />
                    </div>
                </a>
            </td>
            <td>
                <a target="_blank" href="https://twitter.com/IPSsetubal">
                    <div class="circle" id="border-lightblue">
                        <img src="~/images/icons/twitter.png" />
                    </div>
                </a>
            </td>
            <td>
                <a target="_blank" href="http://www.linkedin.com/edu/school?id=162089">
                    <div class="circle" id="border-blue">
                        <img src="~/images/icons/linkedin.png" />
                    </div>
                </a>
            </td>
            <td>
                <a target="_blank" href="https://www.youtube.com/user/IPSETUBAL">
                    <div class="circle" id="border-red">
                        <img src="~/images/icons/youtube.png" />
                    </div>
                </a>
            </td>
            <td>
                <a target="_blank" href="https://www.facebook.com/ipsetubal/">
                    <div class="circle" id="border-darkblue">
                        <img src="~/images/icons/facebook.png" />
                    </div>
                </a>
            </td>
        </tr>
    </tbody>
</table>


<div id="info" style="display:none">
    <img src="~/images/icons/error.png" style="margin-top: -13%; margin-left: 92%;" onclick="javascript: closeInfo();"/>
    <h3 style="margin-top: -2%;">Horário de Atendimento</h3>
    <table>
        <tr>
            <td>
                <b>2.ª e 4.ª</b> <span> | 14h00 - 16h30</span>
            </td>
        </tr>
        <tr>
            <td>
                <b>3.ª e 5.ª</b> <span> | 09h30 - 12h30</span>
            </td>
        </tr>
        <tr>
            <td>
                <b>6.ª</b> <span> | Não há atendimento</span>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>Telefone:</b> <span> + 351 265 790 159 </span>
            </td>
        </tr>
        <tr>
            <td>
                <b>Email</b> <span> <a style="color: var(--blue-var2)" href="mailto:cimob@ips.pt">cimob@ips.pt</a></span>
            </td>
        </tr>
    </table>
</div>
  
