@{
    ViewData["Title"] = "404 - Not Found";
}

<link rel="stylesheet" href='@Url.Content("~/css/errors.css")' />

<div id="notFound">
    <div>
        <img src="~/images/erro_variante3.png" />
        <p style="margin-left: 7%; margin-top: -4%;">A página que procura não existe</p>
        <p style="margin-left: 44%; margin-top: -3%;">ou</p>
        <p style="margin-left: 14%; margin-top: -3%;">não se encontra disponível!</p>
    </div>
</div>