@{
    ViewData["Title"] = "HomePage";
}

<link rel="stylesheet" href='@Url.Content("~/css/imgSlider.css")' />
<img id="welcome-image" src="~/images/students.jpg" />
<div id="welcome-rectangle">
    <div>
        <span id="welcome-pt-text">BEM-VINDOS@CIMOB-IPS </span>
        <br />
        <i>
            WELCOME
        </i>
        <br />
        <i>
            BIENVENIDOS
        </i>
        <div id="future-text">
            <span>JUNTOS FAZEMOS O AMANHÃ</span>
            <br />
            <i>
                TOGETHER WE MAKE TOMORROW
            </i>
            <br />
            <i>
                JUNTOS HACEMOS EL MAÑANA
            </i>
        </div>
    </div>
</div>
<div id="motivational-rectangle" onclick="">
    <span style="margin-left:2.7%;">UMA REFERÊNCIA NO ENSINO SUPERIOR</span>
</div>


<div id="homepage-buttons">

    <div id="ips-button" onclick="window.open('https://www.ips.pt/ips_si/web_page.inicial');">
        <div>
            <br />
            <img src="~/images/ips.png" />
            <br />
            <span>Instituto Politécnico</span><br />
            <span>de Setúbal</span>
        </div>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div id="authentication-button" onclick="location.href='http://cimob-ips.azurewebsites.net/Login'">
            <br />
            <span>Autenticar</span>
        </div>

        <div id="register-button" onclick="location.href='http://cimob-ips.azurewebsites.net/Register'">
            <br />
            <span>Criar Conta</span>
        </div>
    }
    @if (User.IsInRole("estudante"))
    {
        <div id="authentication-button" onclick="location.href='http://cimob-ips.azurewebsites.net/Application/MyApplications'">
            <br />
            <span>Minhas Candidaturas</span>
        </div>

        <div id="register-button" onclick="location.href='http://cimob-ips.azurewebsites.net/Mobility/MyMobility'">
            <br />
            <span>Minha Mobilidade</span>
        </div>

    }

    @if (User.IsInRole("tecnico") || User.IsInRole("tecnico_admin"))
    {
        <div id="authentication-button" onclick="location.href='http://cimob-ips.azurewebsites.net/Application'">
            <br />
            <span>Candidaturas Submetidas</span>
        </div>

        <div id="register-button" onclick="location.href='http://cimob-ips.azurewebsites.net/Mobility/MobilitiesInCharge'">
            <br />
            <span>Mobilidades a cargo</span>
        </div>
    }

    <div id="erasmusapp-button" onclick="window.open('https://play.google.com/store/apps/details?id=com.euf.project.erasmus');">
        <img src="~/images/erasmus_app.png" />
        <br />
        <span>Descarregue a app</span>
        <br />

        <span>Erasmus+</span>
    </div>

</div>