@model byte[]

<div class="signature-pad">
    <canvas class="panel panel-default"></canvas>
    <button type="button" class="btn-clear-canvas">Limpar</button>
    @Html.HiddenFor(model => model, ViewData["htmlAttributes"])
</div>