@{
    ViewData["Controller"] = this.ViewContext.RouteData.Values["controller"].ToString();
    ViewData["Action"] = this.ViewContext.RouteData.Values["action"].ToString();
    NotificationController nc = new NotificationController();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIMOB-IPS</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/help.css" />

    <link rel="shortcut icon" type="image/png" href="~/favicon.ico" />
    <script type="text/javascript">
    </script>
</head>
<body>
    <nav>
        @Html.Partial("SessionBar")
        <div class="navbar-menu">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>
                    <a>Programas</a>
                    <ul class="sub-menu">
                        @if (User.Identity.IsAuthenticated)
                        {

                            @if (User.IsInRole("tecnico") || User.IsInRole("tecnico_admin"))
                            {
                                <li><a asp-area="" asp-controller="Program" asp-action="Create">Criar Programa</a></li>
                            }
                        }
                        <li><a asp-area="" asp-controller="Program" asp-action="Index">Ver Programas</a></li>
                        <li></li>
                    </ul>
                </li>

                @if (User.Identity.IsAuthenticated)
                {

                    @if (User.IsInRole("estudante"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Application" asp-action="MyApplications">Minhas Candidaturas</a>
                        </li>
                    }
                    @if (User.IsInRole("tecnico") || User.IsInRole("tecnico_admin"))
                    {
                        <li>
                            <a>Listagens</a>
                            <ul class="sub-menu">
                                <li><a asp-area="" asp-controller="Application" asp-action="Index">Candidaturas</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About">Mobilidades</a></li>
                                <li></li>
                            </ul>
                        </li>
                    }
                }

                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contactos</a></li>
            </ul>


            @if (User.Identity.IsAuthenticated)
            {
                <img class="option-button" id="help" src="~/images/icons/002-question-mark.png" onclick="javascript: toogleHelp();" draggable="false" />
                <img class="option-button" id="notifications" src="~/images/icons/001-notifications-button.png" onclick="javascript: toogleNotifications();" draggable="false" />
                <img class="option-button" id="options" src="~/images/icons/003-settings-work-tool.png" onclick="javascript: toogleSettings();"  draggable="false"/>
            }
            else
            {
                <img class="option-button" id="help" style="margin-right: 1vw;" src="~/images/icons/002-question-mark.png" onclick="javascript: toogleHelp();" draggable="false"/>
            }

        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @await Html.PartialAsync("_NotificationsCount.cshtml")
        }
        <div class="menu-settings" id="submenu-settings">
            <ul>
                <li> <a asp-area="" asp-controller="Profile" asp-action="Index">Perfil</a> </li>
                <li> <a asp-area="" asp-controller="Account" asp-action="UpdatePassword">Alterar Palavra-Passe</a> </li>
                @if (User.IsInRole("tecnico") || User.IsInRole("tecnico_admin"))
                {
                    <li> <a asp-area="" asp-controller="Account" asp-action="Technicians">Técnicos</a></li>
                }
                <li> <a asp-area="" asp-controller="Account" asp-action="Logout">Sair</a></li>
            </ul>
        </div>

        @await Html.PartialAsync("_Notifications.cshtml")
    </nav>
    <div id="fade-background" onclick="javascript: toogleHelp();"></div>
    <img id="help-close" src="~/images/icons/error.png" onclick="javascript: toogleHelp();" draggable="false" />
    <div id="help-content">
        @await Html.PartialAsync("/Views/Help/_Help.cshtml")
    </div>

    <div class="body-panel" onclick="javascript: hideMenus();">
        <img style="position:fixed; margin-left:83.5vw;margin-top:74vh;width:15vmax; height:4.8vmax; opacity:0.7;" draggable="false" src="~/images/cimobips.png" />
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year &nbsp; CIMOB - Instituto Politécnico de Setúbal</p>
    </footer>

    @RenderSection("Scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--<script src="~/js/site.min.js" asp-append-version="true"></script>-->
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="~/js/SignaturePadInit.js"></script>

</body>
</html>
