<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]CIMOB IPS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/site.js"></script>
    </environment>
    
</head>
<body>
    <nav>
        @Html.Partial("SessionBar")
        <div class="navbar-menu">   
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">Programa</a></li>
                
                @if (ViewData["Autentication"] != null && (ViewData["Autentication"].ToString() == "Student" || ViewData["Autentication"].ToString() == "CIMOB"))
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Área Pessoal</a></li>
                }
                @if (ViewData["Autentication"] != null && ViewData["Autentication"].ToString() == "CIMOB")
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Listagens</a></li>
                }
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contactos</a></li>       
            </ul>
            <img class="option-button" id="notifications" src="~/images/icons/notifications-button_grey.png" onclick="javascript: toogleNotifications();"/>
            <img class="option-button" id="options" src="~/images/icons/settings-work-tool.png" onclick="javascript: toogleSettings();" />   
        </div>    
        <div class="submenu" id="submenu-settings">
            <ul>  
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Ver Perfil</a> </li>     
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Alterar-palavra-passe</a></li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Convidar um técnico</a></li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Ajuda</a></li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Sair</a></li>           
            </ul>
        </div>

        <div class="notifications" id="submenu-notifications">
            <ul>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">SAMONASTANASTANASTaaI</a> </li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Candidatura submetida a 16/11/2017</a> </li>
            </ul>
        </div>
    </nav>
    <div class="body-panel">
        @RenderBody()
    </div>
        <footer>
            <p>&copy; 2018 &nbsp; CIMOB - Instituto Politécnico de Setúbal</p>
        </footer>
    x
    @RenderSection("Scripts", required: false)
</body>
</html>
