@{ 
    NotificationController nc = new NotificationController();
}

@if (User.Identity.IsAuthenticated)
{
<div class="notifications" id="submenu-notifications">
        <ul>
            @foreach (var not in nc.GetNotifications(User))
            {
                @*<li class="notification-date">@not.NotificationDate</li>*@
                <a asp-area="" asp-controller="@not.ControllerName" asp-action="@not.ActionName"><li> @not.Description</li></a>
            }
        </ul>
</div>
}