@{ 
    //string count = NotificationController.NotificationsCount(int.Parse(User.IdentityClaims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value));
    //NotificationController nc = new NotificationController();
    //string count = nc.NotificationsCount().ToString();
}

<div class="notifications-count" onclick="javascript: toogleNotifications();">2</div>