@{ 
       NotificationController nc = new NotificationController();
}

@if (User.Identity.IsAuthenticated && nc.NotificationsCount(User) > 0)
{
    <div class="notifications-count" onclick="javascript: toogleNotifications();">@nc.NotificationsCount(User)</div>
}