@{ 
    string name = "";
    if (User.Identity.Name != null)
    {
        var names = User.Identity.Name.Split(' ');
        string firstName = names[0];
        string lastName = names[names.Length - 1];
        if (names.Length > 1)
        {
            name = firstName + " " + lastName;
        }
        else
        {
            name = firstName;
        }

    }
}

<div class="nav-session">
    <div id="session-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/cimobips.png" /></a>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="session-actions">
            <span class="sign-in"> <a href="@Url.RouteUrl("LoginRoute")">Autenticar</a></span>
            <span class="sign-up"><a href="@Url.RouteUrl("RegisterRoute")">Criar conta</a></span>
        </div>

    }
    else
    {
        <div class="session-name">
            Bem-vindo, <a asp-area="" asp-controller="Profile" asp-action="Index">@name</a> <a id="logout" asp-area="" asp-controller="Account" asp-action="Logout">(Sair)</a>
        </div>

    }

</div>