@{
    string strName = "";
    if (User.Identity.Name != null)
    {
        var arrNames = User.Identity.Name.Split(' ');
        string strFirstName = arrNames[0];
        string strLastName = arrNames[arrNames.Length - 1];
        if (arrNames.Length > 1)
        {
            strName = strFirstName + " " + strLastName;
        }
        else
        {
            strName = strFirstName;
        }
    }

    System.Security.Claims.ClaimsIdentity claimsIdentity = null;
    var account_id = "";
    if (User.Identity.IsAuthenticated)
    {
        claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        account_id = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
    }
    AccountController ac = new AccountController();

}

<div class="nav-session">
    <div>
        <a asp-controller="Home" asp-action="Index" style="position:fixed; margin-left:0.2%;z-index:600" draggable="false">
            <img id="session-logo" src="~/images/cimobips.png" draggable="false" />
        </a>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="session-actions">
            <span class="sign-in"> <a href="@Url.RouteUrl("LoginRoute")">Autenticar</a></span>
            <span class="sign-up"><a href="@Url.RouteUrl("PreRegisterRoute")">Criar conta</a></span>
        </div>

    }
    else
    {
        <div class="session-name">
            <a asp-area="" asp-controller="Profile" asp-action="Index"><img src="@ac.GetAvatarUrl(account_id)" onerror="this.src='images/avatars/user1.png'" class="session-profile-image" draggable="false" /> @strName</a> <a id="logout" asp-area="" asp-controller="Account" asp-action="Logout">(Sair)</a>
        </div>
    }

</div>