@{ 
    string strName = "";
    if (User.Identity.Name != null)
    {
        var arrNames = User.Identity.Name.Split(' ');
        string strFirstName = arrNames[0];
        string strLastName = arrNames[arrNames.Length - 1];
        if (arrNames.Length > 1)
        {
            strName = strFirstName + " " + strLastName;
        }
        else
        {
            strName = strFirstName;
        }
    }
}

<div class="nav-session">
    <div id="session-logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/cimobips.png" draggable="false" /></a>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="session-actions">
            <span class="sign-in"> <a href="@Url.RouteUrl("LoginRoute")">Autenticar</a></span>
            <span class="sign-up"><a href="@Url.RouteUrl("RegisterRoute")">Criar conta</a></span>
        </div>

    }
    else
    {
        <div class="session-name">
            Bem-vindo, <a asp-area="" asp-controller="Profile" asp-action="Index">@strName</a> <a id="logout" asp-area="" asp-controller="Account" asp-action="Logout">(Sair)</a>
        </div>

    }

</div>