@model CIMOB_IPS.Models.RegisterViewModel
@{
    ViewData["Title"] = "Invite";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Convidar um Técnico</h2>

<div class="main-container-invite">
    <form asp-action="InviteTec" class="invite-form">
        <table>

            <tr> <td><label asp-for="EmailView"></label></td></tr>
            <tr> <td><input asp-for="EmailView" type="text" placeholder="exemplo@dominio.pt" /></td></tr>
            <tr> <td><span asp-validation-for="EmailView" class="error-message"></span></td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
                    @if (User.IsInRole("tecnico_admin"))
                    {
                        <tr> <td><label asp-for="Technician.IsAdmin"></label></td></tr>
                        <tr> <td><input asp-for="Technician.IsAdmin"/></td></tr>
                    }
                </table>
          <tr><td><span id="pre-register-message">@Html.Raw(ViewData["message"])</span><span id="pre-register-message-error">@ViewData["error-message"]</span></td><td><input type="submit" value="Enviar convite" /></td></tr>
     </form>
</div>

<!--
<div class="box-invites">





</div>
    -->