@model CIMOB_IPS.Models.RegisterViewModel;

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />

<h2 class="register-title">Registo</h2>

    <div class="main-container-pre-register" style="display:@ViewData["pre-register-display"]">
        <form asp-action="FakePreRegister" method="post" class="pre-register-form">
            <table>
                <tr><td><label asp-for="Student.IdAccountNavigation.Email"></label></td></tr>
                <tr><td><input asp-for="Student.IdAccountNavigation.Email" placeholder="Introduza o seu endereço electrónico" /></td></tr>
                <tr><td><span asp-validation-for="Student.IdAccountNavigation.Email" class="error-message"></span></td></tr>
                <tr>
                    <td>
                        <span id="pre-register-message">@Html.Raw(ViewData["message"])</span><span id="pre-register-message-error">@ViewData["error-message"]</span>
                        <input type="submit" value="Enviar" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
