@model CIMOB_IPS.Models.UpdatePasswordViewModel
@{
    ViewData["Title"] = "UpdatePassword";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<h2 class="page-title-login">Alterar Palavra-Passe</h2>
<div class="main-container-login">
    <form asp-action="UpdatePassword" method="post" class="login-form">
        <table>
            <tr>
                <td><label asp-for="CurrentPassword" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="CurrentPassword" type="password" placeholder="***************"/></td>
            </tr>
            <tr>
                <td><span asp-validation-for="CurrentPassword" class="error-message"></span></td>
            </tr>

            <tr>
                <td><label asp-for="NewPassword" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="NewPassword" type="password" placeholder="***************" /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="NewPassword" class="error-message"></span></td>
            </tr>
            <tr>
            <tr>
                <td><label asp-for="Confirmation" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Confirmation" type="password" placeholder="***************" /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Confirmation" class="error-message"></span></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td><span class="error-message">@ViewData["UpdatePW-Error"]</span>
                    <span class="error-message" style="color:green;">@ViewData["UpdatePW-Message"]</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Alterar" class="submitButton" style="margin-left:0;" id="submitButtonChangePassword" />
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </form>
</div>

