@model CIMOB_IPS.Models.UpdatePasswordViewModel
@{
    ViewData["Title"] = "UpdatePassword";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />
<h2 class="page-title-login">Alterar Palavra-Passe</h2>
<div class="main-container-updatepassword">
    <form asp-action="UpdatePassword" method="post" class="login-form" style="margin-left:7vw; height:24vw;">
        <table>
            <tr>
                <td><label asp-for="CurrentPassword" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td>
                <div class="on-focus clearfix">
                    <input asp-for="CurrentPassword" type="password" placeholder="***************"/>
                    <div class="tool-tip slideIn right">Insira a sua password</div>
                </div>
                </td>
            </tr>
            <tr>
                <td><span asp-validation-for="CurrentPassword" class="error-message"></span></td>
            </tr>

            <tr>
                <td><label asp-for="NewPassword" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td>
                <div class="on-focus clearfix">
                    <input asp-for="NewPassword" type="password" placeholder="***************" />
                    <div class="tool-tip slideIn right">Insira a nova password</div>
                </div>
                </td>
            </tr>
            <tr>
                <td><span asp-validation-for="NewPassword" class="error-message"></span></td>
            </tr>
            <tr>
            <tr>
                <td><label asp-for="Confirmation" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td>
                <div class="on-focus clearfix">
                    <input asp-for="Confirmation" type="password" placeholder="***************" />
                    <div class="tool-tip slideIn right">Confirme a nova password</div>
                </div>
                </td>
            </tr>
            <tr>
                <td><span asp-validation-for="Confirmation" class="error-message"></span></td>
            </tr>
            <tr>
                <td><span class="error-message">@ViewData["UpdatePW-Error"]</span>
                    <span class="error-message" style="color:green;">@ViewData["UpdatePW-Message"]</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Alterar" class="submitButton" style="margin-left:0;" id="submitButtonChangePassword" />
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </form>
</div>

